@import 'normalize';
@import 'variables';
@import 'fonts';


body {
  font-family: Montserrat, sans-serif;

  color: $color-second;
  font-size: 36px;
  font-weight: 600;
}

.el-header {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0 $gutter-desktop;
}

.el-main {
  padding: $gutter-desktop;
}

section {
  display: flex;
  flex-direction: column;
}

.text_input {
  textarea {
    color: $color-second;
    font-size: 48px;
    font-weight: 600;
    line-height: 1;
  }
}

.keyboard {
  position: fixed;
  bottom: 0;

  width: calc(100% - 32px);
  margin-bottom: $gutter-desktop;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 4px;
}
.row:last-child {
  margin-bottom: 0;
}

.button {
  position: relative;

  top: 0;
  width: 100%;
  min-height: 48px;
  min-width: 16px;
  margin-right: 4px;
  padding: 4px;

  background-color: rgba($color-second, .1);

  box-sizing: border-box;
  border: 1px;
  border-style: solid;
  border-color: $color-second;
  border-radius: 4px;

  font-size: 36px;
  font-weight: 600;

  transition: .1s;
}
button:last-child {
  margin-right: 0;
}
.button:hover,
.button:active {
  background-color: $color-second;
  border-color: $color-second;
  color: $color-first;
}
.button--selected {
  background-color: $color-second;
  border-color: $color-second;
  color: $color-first;
}

@media screen and (max-width: 800px){
  .button {
    font-size: 24px;
  }
}
@media screen and (max-width: 600px){
  .button {
    min-height: 40px;
    padding: 4px;

    font-size: 14px;
  }
}
